/*
  ELEMENT STYLING: For overwriting default styles of HTML elements.
  */
html {
  background-color: white;
}

a {
  color: inherit;
}

/*
  SECTION STYLING: For applying styles to collections, i.e. divs of class 'x'
  */
.page {
  margin: auto;
  width: 50%;
  border: 3px solid green;
}

.page-inner {
  color: #0b0b0b;
  display: flex;
  border: 3px solid red;
}

.left-column {
  flex: 30%;
  border: 3px solid blue;
}

.tile {
  border: 3px solid purple;
  background: black;
  margin: 10px 0px;
  border-radius: 0.5rem;
  color: blue
}

.tile:hover {
  background-color: blue;
  transition: 0.2s;
  color: red;
}

.right-column {
  flex: 70%;
  border: 3px solid orange;
}

.content {
  border: 3px solid purple;
  background: blue;
  margin: 10px 0px;
}

/*
  TEXT STYLINGS: The following styles impact the appearance of text, not 'elements'.
  */
.headings {
  color: #0b0b0b;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 100;
}



