/*  This CSS takes a mobile first approach, with desktop stylings found
    at the bottom */

html {
  background-color: #8acfe8;
  color: #412998;
  max-width: 100%;
  overflow-x: hidden;
}

h2  {
  font-family: Arial Black, sans-serif;
}

/*  This whole circle definition thing is clunky as hell
    please refactor this at some point. */

.redcircle {
  /* Circle code used with tweaks from
      https://cloudfour.com/thinks/css-circles/ */

  background: #d9779e;
  border-radius: 50%;
  height: 20vh;
  width: 20vh;
  position: absolute;
  top: 11vh;
  left: -1vh;
  z-index: -1;
}

.bluecircle {
  background: #6699cc;
  border-radius: 50%;
  height: 17vh;
  width: 17vh;
  position: absolute;
  top: 5.5vh;
  left: -7.5vh;
  z-index: -1;
}

.yellowcircle {
  background: #cccc66;
  border-radius: 50%;
  height: 17vh;
  width: 17vh;
  position: absolute;
  top: -5vh;
  left: -1vh;
  z-index: -1;
}

.redcircleMid {
  background: #d9779e;
  border-radius: 50%;
  height: 12vh;
  width: 12vh;
  position: absolute;
  top: 38vh;
  left: 10vh;
  z-index: -1;
}

.bluecircleMid {
  background: #6699cc;
  border-radius: 50%;
  height: 11vh;
  width: 11vh;
  position: absolute;
  top: 44.5vh;
  left: 5vh;
  z-index: -1;
}

.yellowcircleMid {
  background: #cccc66;
  border-radius: 50%;
  height: 10vh;
  width: 10vh;
  position: absolute;
  top: 41.5vh;
  left: 0vh;
  z-index: -1;
}

.redcircleBot {
  background: #d9779e;
  border-radius: 50%;
  height: 24vh;
  width: 24vh;
  position: absolute;
  top: 54vh;
  left: 52vh;
  z-index: -1;
}

.bluecircleBot {
  background: #6699cc;
  border-radius: 50%;
  height: 22vh;
  width: 22vh;
  position: absolute;
  top: 64.5vh;
  left: 48.5vh;
  z-index: -1;
}

.yellowcircleBot {
  background: #cccc66;
  border-radius: 50%;
  height: 18vh;
  width: 18vh;
  position: absolute;
  top: 72.5vh;
  left: 50vw;
  z-index: -1;
}

.under {
  /*  Used to provide underlining styles */
  text-decoration: underline;
}

.emph {
  /*  Used to provide emphasis styles */
  font-size: 7vmin;
  font-family: Arial;
  font-weight: bolder;
}

.titleemph {
  /*  Used to provide emphasis styles */
  font-size: 8vmin;
  font-family: Arial;
  font-weight: bolder;
}

.headelem {
  /*  https://stackoverflow.com/questions/49419962/
      how-to-position-text-5-from-the-right-edge-of-the-screen/49420007

      For the offset of .title to work properly, this element,
      which is its parent, must be set to relative */
  position: relative;
}

.title {
  /*  Applies stylings to the header, i.e. the darianisak part.
      The style sets the title 2% away from the right edge,
      at a size of 3.75 the browsers defined default.
      */
  position: absolute;
  font-family: Arial Black, sans-serif;
  right: 3%;
  /*  Margin control used to push it to the page top */
  margin-top:  0vh;
  font-size: 14vmin;
}

.content  {
  /*  Defines styles for the parent of the general_information section */
  position: relative;
  font-family: Arial;

  /*  Provides seperation from the top of the page and
      .head_elem. */
  top: 18vh;
}

.general_information  {
  position: absolute;
  text-align: left;
  left: 3%;

  /*  general_information is aligned to the top left corner
      of .content and therefore doesn't need a top adjust. */
  top: 0px;
}

.underwritten {
  /*  Used to provide style to the "and I'm a..." */
  white-space: nowrap;
  position: absolute;
  font-size: 4vmin;
  left: 59.5%;
}

.about {
  /*  Used to provide style to the "about in further_sub" */
  position: absolute;
  font-size: 4vmin;
  left: 83.5%;
}

.general_sub  {
  /*  Used to provide style to the bulk of the the general content
      i.e. computer science student... Java, Python. */
  position: relative;
  top: 2.5vh;
  padding-bottom: 0vh;
  left: 8%;
  font-size: 4vmin;
}

.further_information  {
  /*  Used to provide style to the section containing links */
  position: absolute;
  text-align: left;
  left: 3%;
  top: 38.5vh;
}

.further_sub  {
  /*  Child styling of further_information. Used to style link elements
      etc. */
  position: relative;
  top: 2.5vh;
  padding-bottom: 0vh;
  left: 8%;
  font-size: 4vmin;
}

.footer_data  {
  /*  Defines styles for the parent of the footer section */
  position: relative;
  font-family: Arial;

  /*  Provides seperation from the top of the page and
      .head_elem. */
  top: 1875px;
}

/*  Used for direct manipulation of the iOS client  */
@supports (-webkit-touch-callout: none) {

  .further_information  {
    /*  Used to provide style to the section containing links */
    top: 15vh;
  }
}


/*  The below media query provides styles for landscape displays, i.e
    desktop monitor screens */

@media screen and (orientation: landscape) {

  .further_information  {
    /*  Used to provide style to the section containing links */
    left: 50%;
    top: 0vh;
  }

  .further_information .title_sub  {
    display: none;
  }

  .further_sub  {
    /*  Child styling of further_information. Used to style link elements
        etc. */
    position: relative;
    top: 12vh;
    padding-bottom: 0vh;
    left: 25%;
    font-size: 4vmin;
  }
}
