/*  Global stylings that are not platform specific  */

.fullpage {
  background-color: #333;
  color: white;
}

.navigation_links {

}

/*  Viewport tailored style support. Pixel sizings sourced from:
https://www.lambdatest.com/blog/how-to-use-css-breakpoints-for-responsive-design/
*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /*  Mobile tailored stylings  */

}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  /*  iPad and tablet tailored stylings */

}

@media only screen and (min-width: 769px) and (max-width: 1024px)  {
  /*  Small screens and laptops */

}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  /*  Desktops, large screens */

}

@media only screen and (min-width: 1201px)  {
  /*  Larger screens, TVs. Note that this is my native development res  */

}
